<div class="page__footer-follow">

    {% unless site.atom_feed.hide %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
    

    <li><a href="https://cannabinoid.data-1.science"><i class="fa-solid fa-cannabis" aria-hidden="true"></i> cannabinoid.data-1.science </a></li>


</div>

