---
layout: archive
---

<p><h1>{{ page.title }}</h1></p>
<hr><p>{% if page.author.size > 0 %}{{page.author}}<hr>{% endif %}</p>
{{ content }}
<hr>
{% if page.tags.size > 0 %}
<h2>Tags:</h2>
<span><ul>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag | replace: " ","_"  }}{% endcapture %}
    <a href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag_name }}"><code class="highligher-rouge"><li>{{ tag }}</li></code></a>
    {% endfor %}</ul>
</span>
<hr>
{% endif %}



