---
layout: default
---
<div id="main" role="main">

    <p>

    <form method="get">
    
        <input type="text" id="search-box" name="query">
        
        <input type="submit" value="Search">
    
    </form>

    <div class="archive">

        <div class="entries-list">
    

                <article class="archive__item__search" itemscope itemtype="https://schema.org/CreativeWork">
        
                    <div id="results" class="results">

                    </div>
                
                </article>
                
        
        </div>

    </div>
    
</div>


<script src="/assets/js/search-content.js"></script>
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/search.js"></script>
