---
layout: archive
---
<div class="entries-list">
    <p><h1>{{ page.tag }}</h1></p>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
</ul>
</div>
<hr>
